nav {
    height: 80px;
    background-color: rgb(2, 0, 97);
    color: whitesmoke;
    font-size: 1.5rem;
}

h2 a {
    color: white;
}

h2 a:hover {
    text-decoration: none;
    color: white;
}

h2.message{
    color: red;
}